streamlit==1.39.0
streamlit-extras==0.3.5
st-pages==1.0.1
s3fs
pyyaml
st-files-connection
scikit-learn==1.7.0
matplotlib==3.6.3
numpy==1.25
pandas==2.2.3
plotly==5.15.0
virgo-modules==0.6.1
pykalman
boto3
validators
scipy==1.10.0
seaborn==0.12.2
starlette==0.22.0
yfinance==0.2.58
ta==0.10.2
statsmodels==0.13.5
hmmlearn == 0.3.3
feature-engine==1.8.3
mlflow==3.0.0
mapie==1.0.1